.grid {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  
  .grid-item {
    height: 150px;  /* set the height of each grid item */
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }